spring:
  application:
    name: rag-vectordb-openai

  datasource:
    url: jdbc:postgresql://localhost:5432/ragdb
    username: postgres
    password: postgres

  ai:
    openai:
      api-key: "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"
      embedding:
        options:
          model: text-embedding-3-small

    vectorstore:
      pgvector:
        initialize-schema: true
